<div class="posts">
  <div class="row justify-content-center">
    <div class="col-lg-7" style="margin-top: 50px;">
      <div class="card">
        <div class="card-body">
          <textarea id="writingArea" name="writingArea" rows="4" cols="50">
            writing area placeholder text.
          </textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="public/writingArea.js"> </script>