{{> header }}

<head>
  <title>Dashboard</title>
</head>

<div class="container">
  <div class="bg-grey-lighter min-h-screen flex flex-col">
    <div class="container max-w-20xl max-h-20xl mx-auto flex-1 flex flex-col items-center justify-center px-2">
      <div class="bg-white px-8 py-8 rounded shadow-md text-black w-full">
        {{> conversation }}
      </div>
    </div>
  </div>
</div>


</html>